<app-mychats></app-mychats>

<!-- <app-sidebar></app-sidebar> -->

<!-- <mat-drawer-container>
  <mat-drawer mode="side" opened="true">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <app-sidedrawer></app-sidedrawer>
    <app-chatpage></app-chatpage>
  </mat-drawer-content>
</mat-drawer-container> -->
<!-- 
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened> <app-sidebar></app-sidebar></mat-drawer>
  <mat-drawer-content
    ><app-mychats></app-mychats>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container> -->
