<mat-card-content>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error
        *ngIf="
          loginForm.get('email')!.hasError('required') &&
          loginForm.get('email')!.touched
        "
        >Email is required</mat-error
      >
      <mat-error *ngIf="loginForm.get('email')!.hasError('email')"
        >Not a valid email
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error
        *ngIf="
          loginForm.get('password')!.hasError('required') &&
          loginForm.get('password')!.touched
        "
        >Password is required</mat-error
      >
      <mat-error *ngIf="loginForm.get('password')!.hasError('minlength')"
        >Password should be atleast 3 characters long
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      [disabled]="!loginForm.valid"
      type="submit"
      class="login-button"
    >
      Login
    </button>
  </form>
</mat-card-content>

<!-- <input
        matInput
        placeholder="Email"
        formControlName="email"
        required
        name="email"
        ngModel
        #email="ngModel"
      />
      <mat-error *ngIf="email.invalid">Email is required</mat-error> -->

<!-- <mat-form-field>
      <input
        matInput
        placeholder="Password"
        type="password"
        required
        minlength="6"
        name="password"
        ngModel
        #password="ngModel"
      />
      <mat-error *ngIf="password.errors && password.errors['required']">
        Password is required
      </mat-error>
      <mat-error *ngIf="password.errors && password.errors['minlength']">
        Password must be of length 6
      </mat-error>
    </mat-form-field> -->
